# env
env
.env
testing/env
testing/.env

# local log
chaostoolkit
testing/chaostoolkit
chaostoolkit.log
testing/chaostoolkit.log

# dataset
/testing/dataset
/testing/dataset/*
/testing/gcp-ta-key
/testing/hello.pdf